<header>
	<h2>Alterar Imóvel</h2>
</header>
<section>
	<form action="imoveis" method="post" role="form" id="frmImovel" class="form-horizontal">
		<input type="hidden" name="_method" value="post">
		<div class="form-group">
			<label for="inpCodigo" class="control-label col-sm-2">Código:</label>
			<div class="col-sm-2">
				<input disabled="true" name="produto[idProduto]" id="inpCodigo" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="inpDescricao"  class="control-label col-sm-2">Título:</label>
			<div class="col-sm-6">				
				<input id="inpDescricao" value="<%= produto.titulo %>" name="produto[titulo]" class="form-control" maxlength="70" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpTipo">Tipo:</label>
			<div class="col-sm-4">
				<select name="produto[idTipoImovel]" class="form-control" required>
					<option value>Selecione...</option>
					<% tipoImoveis.forEach(function(m,index) { %>
						<option value="<%- produto.idTipoImovel  %>"><%- produto.descricao  %></option>
					<% }); %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpEstado">UF:</label>
			<div class="col-sm-2">
				<select name="produto[siglaUf]" class="form-control" required>
					<option value>Selecione...</option>
					<% estados.forEach(function(m,index) { %>
						<option value="<%- produto.siglaUf  %>"><%- produto.siglaUf %>  - <%- produto.descricao %></option>
					<% }); %>
				</select>

			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="inpCidade">Cidade:</label>
			<div class="col-sm-2">
				<select name="produto[idCidade]" class="form-control" required>
					<option value>Selecione...</option>
					<% cidades.forEach(function(m,index) { %>
					<option data-estado="<%- produto.siglaUf %>" data-ibge="<%- produto.codIbge -%>" value="<%- produto.idCidade  %>"><%- produto.descricao  %></option>
					<% }); %>
				</select>
			</div>		
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="bairro">Bairro:</label>
			<div class="col-sm-2">
				<input type="text" value="<%= produto.bairro %>" name="produto[bairro]" maxlength="50" class="form-control" required>
			</div>		
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpEndereco">Endereço:</label>
			<div class="col-sm-4">
				<input name="produto[endereco]" value="<%= produto.endereco %>" maxlength="60" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpQtdQuartos">Quartos:</label>
			<div class="col-sm-2">
				<input id="inpQtdQuartos" value="<%= produto.qtdQuartos %>" name="produto[qtdQuartos]" type="number" max="99" min="0" class="form-control"
				maxlength="3" onkeypress="return somenteNumero(event);"
				required
				/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpGaragem">Vagas na Garagem:</label>
			<div class="col-sm-2">
				<input id="inpGaragem" type="number" max="99" min="0" class="form-control" name="produto[qtdGaragem]"
				title="Quantidade de vagas na garagem" value="<%= produto.qtdGaragem %>"  maxlength="3" onkeypress="return somenteNumero(event);"
				required
				/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpComodos">Cômodos:</label>
			<div class="col-sm-2">
				<input id="inpComodos" type="number" value="<%= produto.qtdComodos %>"  max="99" min="0" class="form-control" maxlength="3" onkeypress="return somenteNumero(event);" name="produto[qtdComodos]" 
				title="Quantidade de Cômodos"
				required
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="inpArea">Área:</label>
			<div class="col-sm-2">
				<div class="input-group">
					<input id="inpArea" value="<%= produto.area %>"  onkeypress="return somenteNumero(event);"  type="text" max="99" min="0" class="form-control" name="produto[area]" maxlength="10" required/>
					<span class="input-group-addon">m²</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="chkAlugar">Alugar:</label>
			<div class="col-sm-1">
				<input id="chkAlugar" type="checkbox" max="99" min="0" class="form-control" name="produto[paraAlugar]" <%= produto.paraAlugar =='s'?'checked':''; %>"/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="chkVenda">Venda:</label>
			<div class="col-sm-1">
				<input id="chkVenda" type="checkbox" max="99" min="0" class="form-control" name="produto[paraVender]" <%= produto.paraVender =='s'?'checked':''; %>/>
			</div>
		</div>	

		<div class="form-group">
			<label class="control-label col-sm-2" for="inpValor">Valor Aluguel:</label>
			<div class="col-sm-3">
				<input id="inpAluguel" value="<%= produto.paraVender != 0? produto.paraVender :''; %>" onkeypress="return somenteNumero(event);" type="text" max="99" min="0" class="form-control" name="produto[vlrAluguel]" maxlength="10" disabled="true" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="inpValor">Valor Venda:</label>
			<div class="col-sm-3">
				<input id="inpValor" value="<%= produto.vlrImovel != 0? produto.vlrImovel :''; %>" onkeypress="return somenteNumero(event);" type="text" max="99" min="0" class="form-control" name="produto[vlrImovel]" maxlength="10" disabled="true" />
			</div>
		</div>	
		<div class="form-group">
			<label class="control-label col-sm-2" for="observacao">Observação:</label>
			<div class="col-sm-3">
				<textarea rows="30" cols="60" name="produto[observacao]"><%= produto.observacao %></textarea>
			</div>
		</div>	
		<div class="form-group">
			<label class="control-label col-sm-2"></label>
			<div class="col-sm-3">
				<a type="submit" id="btnConfirmar" class="btn btn-primary">Confirmar</a>
				<a href="#" class="btn btn-secundary" id="btnCancelarImovel">Cancelar</a>
			</div>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Confirma exclus&atilde;o</h4>
					</div>
					<div class="modal-body">
						Deseja confirmar a exclus&atilde;o desse registro?
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelar">Cancelar</a>
						<button type="button" class="btn btn-primary">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>

<script type="text/javascript">

function save() {
	var formVars = $("#frmImovel").serialize();
	console.log(formVars)
	$.ajax({ url: 'imoveis', 
		cache: false,
		type: 'POST',
		data: formVars,
		success: function (data) { 
			alert('Registrado com sucesso!');
			carregarPagina('/imoveis');
		}, 
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('error');
		}
	});
}

function edit(id) {
	var formVars = $("#frmImovel").serialize();
	$.ajax({ url: 'imoveis/' + id , 
		cache: false,
		type: 'PUT',
		data: formVars,
		success: function (data) { 
			alert('Alterado com sucesso!');
			carregarPagina('/imoveis');
		}, 
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			alert("erro ao editar")
			console.log('error');
		}
	});	
}



$('#btnConfirmar').on('click', function(event) {
	if(validarFormulario('frmImovel')) {
		save();
	};
});

$('#btnCancelarImovel').on('click', function(event) {
	carregarPagina('/imoveis');
	event.preventEventDefault();
});

$('#chkAlugar').on('click',function(event) {
	$('#inpAluguel').attr('disabled',!$(this).is(':checked'));
});


$('#chkVenda').on('click',function(event) {
	$('#inpValor').attr('disabled',!$(this).is(':checked'));
});


</script>